# The MIT License (MIT)

# Copyright (c) 2016 Alexey Valikov

# Permission is hereby granted, free of charge, to any person obtaining a copy
# of this software and associated documentation files (the "Software"), to deal
# in the Software without restriction, including without limitation the rights
# to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
# copies of the Software, and to permit persons to whom the Software is
# furnished to do so, subject to the following conditions:

# The above copyright notice and this permission notice shall be included in all
# copies or substantial portions of the Software.

# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
# AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
# SOFTWARE.

swagger: '2.0'
info:
  version: "1"
  title: LH Public API
  description: Lufthansa API
  termsOfService: https://developer.lufthansa.com/General_Terms_and_Conditions
  contact:
    url: https://developer.lufthansa.com/contact
schemes:
  - https
host: api.lufthansa.com
basePath: /v1
consumes:
  - application/x-www-form-urlencoded
  - application/json
securityDefinitions:
  apiKey:
    type: apiKey
    in: header
    name: Authorization
#  oauth2:
#    type: oauth2
#    flow: accessCode
#    authorizationUrl: https://api.lufthansa.com/v1/oauth/token
#    scopes:
#      write:pets: modify pets in your account
#      read:pets: read your pets
paths:

  /oauth/token:
    post:
      description: Access to our services is controlled via tokens (Oauth 2.0). To get a token you must call our token end-point and supply your client key and client secret. Tokens remain valid for a limited time.
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        -
          name: client_id
          description: Your client application key
          in: formData
          required: true
          type: string
        -
          name: client_secret
          description: Your client secret
          in: formData
          required: true
          type: string
        -
          name: grant_type
          description: Grant type, must be "client_credentials"
          in: formData
          required: true
          type: string
          enum: ["client_credentials"]
      responses:
        200:
          description: Temporary access token
          schema:
            $ref: '#/definitions/access_token'

  /references/countries/:
    get:
      description: Retreive a list of all countries or details of one specific country. If a country is specified, there is an option to limit the response to a given language.
      security:
        -
          apiKey: []
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        -
          name: lang
          description: Optional query parameter. 2 letter ISO 3166-1 language code.
          in: query
          required: true
          type: string
      responses:
        200:
          description: List of all countries or details of one specific country.
          schema: 
            $ref: '#/definitions/CountriesResponse'      

  /references/countries/{countryCode}:
    get:
      description: Retreive a list of all countries or details of one specific country. If a country is specified, there is an option to limit the response to a given language.
      security:
        -
          apiKey: []
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        -
          name: countryCode
          description: Optional 2 letter ISO 3166-1 country code.
          in: path
          required: true
          type: string
        -
          name: lang
          description: Optional query parameter. 2 letter ISO 3166-1 language code.
          in: query
          required: true
          type: string
      responses:
        200:
          description: List of all countries or details of one specific country.
          schema: 
            $ref: '#/definitions/CountriesResponse'      

  /references/cities/:
    get:
      description: Retreive a list of all city or details of one specific city. If a city is specified, there is an option to limit the response to a given language.
      security:
        -
          apiKey: []
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        -
          name: lang
          description: Optional query parameter. 2 letter ISO 3166-1 language code.
          in: query
          required: true
          type: string
      responses:
        200:
          description: List of all city or details of one specific city.
          schema: 
            $ref: '#/definitions/CitiesResponse'      

  /references/cities/{cityCode}:
    get:
      description: Retreive a list of all city or details of one specific city. If a city is specified, there is an option to limit the response to a given language.
      security:
        -
          apiKey: []
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        -
          name: cityCode
          description: Optional 3 letter IATA city code
          in: path
          required: true
          type: string
        -
          name: lang
          description: Optional query parameter. 2 letter ISO 3166-1 language code.
          in: query
          required: true
          type: string
      responses:
        200:
          description: List of all city or details of one specific city.
          schema: 
            $ref: '#/definitions/CitiesResponse'      

  /references/airports/:
    get:
      description: Reference data about airports. With no parameters, all airports are returned in all languages. This is a large data set. If an airport code is specified there is the option to recieve the description in a single language.
      security:
        -
          apiKey: []
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        -
          name: lang
          description: Optional query parameter. 2 letter ISO 3166-1 language code.
          in: query
          required: true
          type: string
        -
          name: LHoperated
          description: Optional query parameter. Restrict the results to locations with flights operated by LH (true, false).
          in: query
          required: false
          type: string
      responses:
        200:
          description: Reference data about airports.
          schema: 
            $ref: '#/definitions/AirportsResponse'      

  /references/airports/nearest/{latitude},{longitude}:
    get:
      description: Find the 5 closest airports to the given latitude and longitude, irrespective of the radius of the reference point.
      security:
        -
          apiKey: []
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        -
          name: latitude
          description: Latitude in decimal format to at most 3 decimal places
          in: path
          required: true
          type: number
          format: double
        -
          name: longitude
          description: Longitude in decimal format to at most 3 decimal places
          in: path
          required: true
          type: number
          format: double
        -
          name: lang
          description: Optional query parameter. 2 letter ISO 3166-1 language code.
          in: query
          required: true
          type: string
      responses:
        200:
          description: The 5 closest airports to the given latitude and longitude, irrespective of the radius of the reference point.
          schema: 
            $ref: '#/definitions/NearestAirportsResponse'      

  /references/airports/{airportCode}:
    get:
      description: Reference data about airports. With no parameters, all airports are returned in all languages. This is a large data set. If an airport code is specified there is the option to recieve the description in a single language.
      security:
        -
          apiKey: []
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        -
          name: airportCode
          description: Optional 3 letter IATA airport code
          in: path
          required: true
          type: string
        -
          name: lang
          description: Optional query parameter. 2 letter ISO 3166-1 language code.
          in: query
          required: true
          type: string
        -
          name: LHoperated
          description: Optional query parameter. Restrict the results to locations with flights operated by LH (true, false).
          in: query
          required: false
          type: string
      responses:
        200:
          description: Reference data about airports.
          schema: 
            $ref: '#/definitions/AirportsResponse'      

  /references/airlines/:
    get:
      description: Reference data about airlines. With no parameters, all airlines are returned.
      security:
        -
          apiKey: []
      consumes:
        - application/json
      produces:
        - application/json
      responses:
        200:
          description: Reference data about airlines.
          schema: 
            $ref: '#/definitions/AirlinesResponse'      

  /references/airlines/{airlineCode}:
    get:
      description: Reference data about airlines. With no parameters, all airlines are returned.
      security:
        -
          apiKey: []
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        -
          name: airlineCode
          description: Optional 2-character IATA airline/carrier code
          in: path
          required: true
          type: string
      responses:
        200:
          description: Reference data about airlines.
          schema: 
            $ref: '#/definitions/AirlinesResponse'      

  /references/aircraft/{aircraftCode}:
    get:
      description: Reference data about aircraft. With no parameters, all aircraft types are returned.
      security:
        -
          apiKey: []
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        -
          name: aircraftCode
          description: Optional 3-character IATA aircraft code.
          in: path
          required: true
          type: string
      responses:
        200:
          description: Reference data about aircraft.
          schema: 
            $ref: '#/definitions/AircraftSummariesResponse'      

  /references/aircraft/:
    get:
      description: Reference data about aircraft. With no parameters, all aircraft types are returned.
      security:
        -
          apiKey: []
      consumes:
        - application/json
      produces:
        - application/json
      responses:
        200:
          description: Reference data about aircraft.
          schema: 
            $ref: '#/definitions/AircraftSummariesResponse'      

  /operations/flightstatus/departures/{airportCode}/{from}/{until}:
    get:
      description: The status of all departures from a given airport within a specific time range
      security:
        -
          apiKey: []
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        -
          name: airportCode
          description: The IATA code of the departure airport (e.g. HAM)
          in: path
          required: true
          type: string
        -
          name: from
          description: Start of time range in local time of departure airport (e.g. 2014-11-18T10:30)
          in: path
          required: true
          type: string
        -
          name: until
          description: End of time range in local time of departure airport (e.g. 2014-11-18T12:30)
          in: path
          required: true
          type: string
      responses:
        200:
          description: The status of all departures from a given airport within a specific time range
          schema: 
            $ref: '#/definitions/FlightsStatusResponse'

  /operations/flightstatus/arrivals/{airportCode}/{from}/{until}:
    get:
      description: The status of all arrivals at a given airport within a specific time range
      security:
        -
          apiKey: []
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        -
          name: airportCode
          description: The IATA code of the arrival airport (e.g. ZRH)
          in: path
          required: true
          type: string
        -
          name: from
          description: Start of time range in local time of arrival airport (e.g. 2014-11-18T10:30)
          in: path
          required: true
          type: string
        -
          name: until
          description: End of time range in local time of arrival airport (e.g. 2014-11-18T12:30)
          in: path
          required: true
          type: string
      responses:
        200:
          description: The status of all arrivals at a given airport within a specific time range
          schema: 
            $ref: '#/definitions/FlightsStatusResponse'
  
  /operations/flightstatus/{flightNumber}/{date}:
    get:
      description: Get the status of a particular flight (on time, landed, etc.)
      security:
        -
          apiKey: []
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        -
          name: flightNumber
          description: The flight number including carrier code and any suffix, e.g. LH400
          in: path
          required: true
          type: string
        -
          name: date
          description: The departure date (YYYY-MM-DD) in the local time of the departure airport.
          in: path
          required: true
          type: string
      responses:
        200:
          description: The status of a particular flight (on time, landed, etc.)
          schema: 
            $ref: '#/definitions/FlightStatusResponse'

definitions:
  access_token:
    type: object
    required:
      - access_token
      - token_type
      - expires_in
    properties:
      access_token:
        type: string
        description: Your new access token
      token_type:
        type: string
        description: Type of the token. We only use bearer tokens. Note that we respond with token_type "bearer" (lower case b) yet when you send us a token it must be named "Bearer" (upper case B).
        enum:
          - bearer
      expires_in:
        type: integer
        format: int32
        description: The number of seconds until this token expires
  CountriesResponse:
    type: object
    required:
      - CountryResource
    properties:
      CountryResource:
        $ref: '#/definitions/CountryResource'
  CountryResource:
    type: object
    required:
      - Countries
    properties:
      Countries:
        $ref: '#/definitions/Countries'
  Countries:
    type: object
    required:
      - Country
    properties:
      Country:
        type: array
        items:
          $ref: '#/definitions/Country'
  Country:
    type: object
    required:
      - CountryCode
      - ZoneCode
      - Names
    properties:
      CountryCode:
        type: string
      ZoneCode:
        type: string
      Names:
        $ref: '#/definitions/Names'
  CitiesResponse:
    type: object
    required:
      - CityResource
    properties:
      CityResource:
        $ref: '#/definitions/CityResource'
  CityResource:
    type: object
    required:
      - Cities
    properties:
      Cities:
        $ref: '#/definitions/Cities'
  Cities:
    type: object
    required:
      - City
    properties:
      City:
        type: array
        items:
          $ref: '#/definitions/City'
  City:
    type: object
    required:
      - CityCode
      - CountryCode
      - Position
      - Names
      - Airports
    properties:
      CityCode:
        type: string
      CountryCode:
        type: string
      Position:
        $ref: '#/definitions/Position'
      Names:
        $ref: '#/definitions/Names'
      Airports:
        $ref: '#/definitions/AirportCodes'
  AirportsResponse:
    type: object
    required:
      - AirportResource
    properties:
      AirportResource:
        $ref: '#/definitions/AirportResource'
  AirportResource:
    type: object
    required:
      - Airports
    properties:
      Airports:
        $ref: '#/definitions/Airports'
  Airports:
    type: object
    required:
      - Airport
    properties:
      Airport:
        type: array
        items:
          $ref: '#/definitions/Airport'
  AirportCodes:
    type: object
    required:
      - AirportCode
    properties:
      AirportCode:
        type: array
        items:
          type: string
  Airport:
    type: object
    required:
      - AirportCode
      - CityCode
      - CountryCode
      - Position
      - Names
    properties:
      AirportCode:
        type: string
      CityCode:
        type: string
      CountryCode:
        type: string
      Position:
        $ref: '#/definitions/Position'
      LocationType:
        type: string
        enum:
          - Airport
          - RailwayStation
          - BusStation
      Names:
        $ref: '#/definitions/Names'
      Distance:
        $ref: '#/definitions/Distance'
  NearestAirportsResponse:
    type: object
    required:
      - NearestAirportResource
    properties:
      NearestAirportResource:
        $ref: '#/definitions/AirportResource'
  AirlinesResponse:
    type: object
    required:
      - AirlineResource
    properties:
      AirlineResource:
        $ref: '#/definitions/AirlineResource'
  AirlineResource:
    type: object
    required:
      - Airlines
    properties:
      Airlines:
        $ref: '#/definitions/Airlines'
  Airlines:
    type: object
    required:
      - Airline
    properties:
      Airline:
        type: array
        items:
          $ref: '#/definitions/Airline'
  Airline:
    type: object
    required:
      - OtherIDs
      - AirlineID
      - AirlineID_ICAO
      - Names
    properties:
      OtherIDs:
        $ref: '#/definitions/OtherIDs'
      AirlineID:
        type: string
      AirlineID_ICAO:
        type: string
      Names:
        $ref: '#/definitions/Names'
  OtherIDs:
    type: object
    required:
      - OtherID
    properties:
      OtherID:
        type: array
        items:
          $ref: '#/definitions/OtherID'
  OtherID:
    type: object
    required:
      - '@Description'
      - '$'
    properties:
      '@Description':
          type: string
      '$':
          type: string
  AircraftSummariesResponse:
    type: object
    required:
      - AircraftResource
    properties:
      AircraftResource:
        $ref: '#/definitions/AircraftResource'
  AircraftResource:
    type: object
    required:
      - AircraftSummaries
    properties:
      AircraftSummaries:
        $ref: '#/definitions/AircraftSummaries'
  AircraftSummaries:
    type: object
    required:
      - AircraftSummary
    properties:
      AircraftSummary:
        type: array
        items:
          $ref: '#/definitions/AircraftSummary'
  AircraftSummary:
    type: object
    required:
      - Names
      - AircraftCode
      - AirlineEquipCode
      - MediaLinks
    properties:
      Names:
        $ref: '#/definitions/Names'
      AircraftCode:
        type: string
      AirlineEquipCode:
        type: string
      MediaLinks:
        $ref: '#/definitions/MediaLinks'
      Comments:
        $ref: '#/definitions/Comments'
  MediaLinks:
    type: object
    required:
      - MediaLink
    properties:
      MediaLink:
        type: array
        items:
          $ref: '#/definitions/MediaLink'
  MediaLink:
    type: object
    required:
      - '@LanguageCode'
      - '$'
    properties:
      '@LanguageCode':
        type: string
      '$':
        type: string
  Comments:
    type: object
    required:
      - Comment
    properties:
      Comment:
        type: array
        items:
          $ref: '#/definitions/Comment'
  Comment:
    type: object
    required:
      - '@LanguageCode'
      - '$'
    properties:
      '@LanguageCode':
        type: string
      '$':
        type: string
  Position:
    type: object
    required:
      - Coordinate
    properties:
      Coordinate:
        $ref: '#/definitions/Coordinate'
  Coordinate:
    type: object
    required:
      - Latitude
      - Longitude
    properties:
      Latitude:
          type: number
          format: double
      Longitude:
          type: number
          format: double
  Distance:
    type: object
    required:
      - Value
      - UOM
    properties:
      Value:
          type: number
          format: double
      UOM:
          type: string
  Names:
    type: object
    required:
      - Name
    properties:
      Name:
        type: array
        items:
          $ref: '#/definitions/Name'
  Name:
    type: object
    required:
      - '@LanguageCode'
      - '$'
    properties:
      '@LanguageCode':
          type: string
      '$':
          type: string
  FlightsStatusResponse:
    type: object
    required:
      - FlightStatusResource
    properties:
      FlightStatusResource:
        $ref: '#/definitions/FlightsStatusResource'
  FlightStatusResponse:
    type: object
    required:
      - FlightStatusResource
    properties:
      FlightStatusResource:
        $ref: '#/definitions/FlightStatusResource'
  FlightsStatusResource:
    type: object
    required:
      - Flights
    properties:
      Flights:
        $ref: '#/definitions/Flights'
  FlightStatusResource:
    type: object
    required:
      - Flights
    properties:
      Flights:
        $ref: '#/definitions/Flights'
  Flights:
    type: object
    required:
      - Flight
    properties:
      Flight:
        type: array
        items:
          $ref: '#/definitions/Flight'
  Flight:
    type: object
    required:
      - Departure
      - Arrival
      - MarketingCarrier
      - OperatingCarrier
      - Equipment
      - FlightStatus
    properties:
      Departure:
        $ref: '#/definitions/DepartureOrArrival'
      Arrival:
        $ref: '#/definitions/DepartureOrArrival'
      MarketingCarrier:
        $ref: '#/definitions/Carrier'
      OperatingCarrier:
        $ref: '#/definitions/Carrier'
      Equipment:
        $ref: '#/definitions/Equipment'
      FlightStatus:
        $ref: '#/definitions/FlightStatus'
  DepartureOrArrival:
    type: object
    required:
      - AirportCode
      - ScheduledTimeLocal
      - ScheduledTimeUTC
      - ActualTimeLocal
      - ActualTimeUTC
      - TimeStatus
      - Terminal
    properties:
      AirportCode:
        type: string
      ScheduledTimeLocal:
        $ref: '#/definitions/LocalDateTimeObject'
      ScheduledTimeUTC:
        $ref: '#/definitions/DateTimeObject'
      ActualTimeLocal:
        $ref: '#/definitions/LocalDateTimeObject'
      ActualTimeUTC:
        $ref: '#/definitions/DateTimeObject'
      EstimatedTimeLocal:
        $ref: '#/definitions/LocalDateTimeObject'
      EstimatedTimeUTC:
        $ref: '#/definitions/DateTimeObject'
      TimeStatus:
        $ref: '#/definitions/TimeStatus'
      Terminal:
        $ref: '#/definitions/Terminal'
  Carrier:
    type: object
    required:
      - AirlineID
      - FlightNumber
    properties:
      AirlineID:
        type: string
      FlightNumber:
        type:
          integer
  Equipment:
    type: object
    required:
      - AircraftCode
    properties:
      AircraftCode:
        type:
          string
  FlightStatus:
    type: object
    required:
      - Code
      - Definition
    properties:
      Code:
        type: string
        enum:
          - CD # Flight Cancelled
          - DP # Flight Departed
          - LD # Flight Landed
          - RT # Flight Rerouted
          - NA # No status
      Definition:
        type: string
  LocalDateTimeObject:
    type: object
    required:
      - DateTime
    properties:
      DateTime:
        $ref: '#/definitions/LocalDateTime'
  DateTimeObject:
    type: object
    required:
      - DateTime
    properties:
      DateTime:
        $ref: '#/definitions/DateTime'
  DateTime:
    type: string
  TimeStatus:
    type: object
    required:
      - Code
      - Definition
    properties:
      Code:
        type: string
        enum:
          - FE # Flight Early
          - NI # Flight Early
          - OT # Flight On Time
          - DL # Flight Delayed
          - 'NO' # No status
      Definition:
        type: string
  Terminal:
    type: object
    required:
      - Name
      - Gate
    properties:
      Name:
        type: string
      Gate:
        type: string